.modallink {
     cursor:pointer;

}

.right {
    border-right: 1px solid #ccc;
}

.openelement {
    font-weight:bold;
}

.reselement {
    color:red;
}

.resultbackground {
    background-color: rgba(255, 0, 0, 0.3);
}

.resultbackground:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.selectedsection {
    background-color: lightgray;
}

.hidden {
    visibility:hidden;
}
