

<html>
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>C-CDA Comparison Tool</title>

    <!-- Required Stylesheets -->
    <link rel="stylesheet" href="app.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<!-- item template -->
<script type="text/x-template" id="item-template">
    <div v-bind:class="{ selectedsection : checked }" style="overflow: hidden;">
        <div class="form-check"><input type="checkbox" class="form-check-input" v-model="checked"></div>

        <div v-on:click="toggle" :style="indent">
            <span v-if="isFolder">{{isOpen ? '&#9661' : '&#9655'}}</span>
            <span v-else style="visibility: hidden;">&#9661</span>
            <span v-bind:class="{ reselement : isError }" style="">{{item.displayname}}</span>
        </div>
        <tree-item class="item" v-for="child in item.children":key="child.id":item="child" :name="name" v-show="isOpen" v-if="isFolder" :depth="depth+1"></tree-item>
    </div>
</script>

<div id="app">

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">C-CDA Comparison Tool</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" v-on:click="clickInstructions()">Instructions</a>
                </li>
                <li class="nav-item right">
                    <a class="nav-link" href="#" v-on:click="clickCompare()">Compare</a>
                </li>
                <div class="nav-item">
                    <file-input path='/api/analysis/readSource' name="sourceTree"></file-input>
                </div>
                <div class="nav-item">
                    <file-input path='/api/analysis/readTarget' name="targetTree"></file-input>
                </div>
                <div class="nav-item">
                    <section-compare-button></section-compare-button>
                </div>
            </ul>
        </div>
    </nav>

    <div v-if="displayInstructions" style="padding-left: 15px">
        <h1>Welcome to the C-CDA Comparison tool!!</h1>
        <hr style="border: 1px solid black"/>
        <p></p>
        <h4>To get started load your documents using the file browse buttons at the top:</h4>
        <ol>
            <li>Load the source (EHX) document using the file input on the left</li>
            <li>Load the target (HS) document using the file input on the right</li>
        </ol>
        <hr/>
        <p></p>
        <h4>After loading the documents you have two options to compare: </h4>
        <ul>
            <li><strong>Option 1 - Document Comparison:</strong> Compare the entire document
                <ol>
                    <li>Confirm that you have selected the appropriate source and target documents on the nav bar</li>
                    <li>The green "Compare" button should now be enabled. Click this button to compare the documents.</li>
                    <li>Click on the "Compare" tab next to the "Instructions" tab on the left side of the nav bar.</li>
                </ol>
            </li>
            <li><strong>Option 2 - Section Comparison:</strong> Compare a specific section of each document
                <ol>
                    <li>Confirm that you have selected the appropriate source and target documents on the nav bar</li>
                    <li>Click on the "Compare" tab next to the "Instructions" tab on the left side of the nav bar.</li>
                    <li>Click on Document Displays to see the source and target documents</li>
                    <li>Use the check marks to select the section the in source and target documents that you would like to compare. The selected section will have a background color of gray. This will default to the entire document.</li>
                    <li>Once you have selected the appropriate sections, click the green "Compare" button on the nav bar</li>
                </ol>
            </li>
        </ul>

        <hr/>
        <p/>
        <h4>After comparing the documents, it is time to analyze the comparison results: </h4>
        <ol>
            <li>Click on Compare Results to see the list of comparison results</li>
            <li>Address each result by clicking on it. When you click on the result, the appropriate sections of the source and target documents will open up. Analyze the results context within the source and target documents.</li>
            <li>Classify each result as an acceptable difference, by removing it from the result list with the "X" button, or flagging it as a defect the "!" button.</li>
        </ol>


        <p/>
        <strong>Results are categorized into 3 categories:</strong>
        <ol>
            <li>Value Mistmatch: the value of the XML tags is mismatched</li>
            <li>Section Mistmatch: no parent xml tag exists in the target document that has the same attribtues and values as the specified source tag</li>
            <li>Attribute Mistmatch: the attribute of the XML tag is mismatched</li>
        </ol>
        <hr/>
    </div>

    <div v-if="displayCompare">

        <div class="card">
            <div class="card-header" id="headingTree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                        Document Displays
                    </button>
                </h5>
            </div>
            <div id="collapseTree" class="collapse show" aria-labelledby="headingTree">
                <div class="card-body">
                    <div class="row text-left">
                        <div class="col right">
                            <h4>Source:</h4>
                            <tree-item class="item" :item="sourceTreeData" name="sourceTree" :depth="0"></tree-item>
                        </div>
                        <div class="col" >
                            <h4>Target:</h4>
                            <tree-item class="item" :item="targetTreeData" name="targetTree" :depth="0"></tree-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingResults">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseResults" aria-expanded="false" aria-controls="collapseResults">
                        Compare Results
                    </button>
                </h5>
            </div>
            <div id="collapseResults" class="collapse show" aria-labelledby="headingResults">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2 right">
                            <div class="row" style="padding-top:10px; padding-bottom:10px">
                                <div id="main">
                                    <b-form-input type="text" v-model="search" placeholder="Filter Results..."></b-form-input>
                                </div>
                            </div>

                            <div class="form-check form-check"><input id="checkBoxFilterAll" type="checkbox" class="form-check-input":checked="true" v-model="selectAll"><label for="checkBoxFilterAll" class="form-check-label">All Mismatches  <span class="badge badge-light"> {{ results.length }}</span></label></div>
                            <div class="form-check form-check"><input id="checkBoxFilterValue" type="checkbox" class="form-check-input" v-model="value"/><label for="checkBoxFilterValue" class="form-check-label">Value Mismatches  <span class="badge badge-light"> {{ valueresults.length }}</span></label></div>
                            <div class="form-check form-check"><input id="checkBoxFilterAttribute" type="checkbox" class="form-check-input" v-model="attribute"/><label for="checkBoxFilterAttribute" class="form-check-label">Attribute Mismatches  <span class="badge badge-light"> {{ attributeresults.length }}</span></label></div>
                            <div class="form-check form-check"><input id="checkBoxFilterSection" type="checkbox" class="form-check-input" v-model="section"/><label for="checkBoxFilterSection" class="form-check-label">Section Mismatches  <span class="badge badge-light"> {{ sectionresults.length }}</span></label></div>


                        </div>
                        <div class="col" style="padding-top:10px">
                            <div class="row">
                                <div class="col">
                                    <h4>Results List:</h4>
                                </div>
                                <div class="col-md-auto">
                                    <button type="button" class="btn btn-secondary btn-sm" v-on:click="addDeleted()">Add {{ deletedresults.length }} Deleted Results back to Result List</button>
                                </div>
                                <div class="col-md-auto">
                                    <button type="button" class="btn btn-secondary btn-sm" v-b-modal.modal-2>Display {{ defectresults.length }} Flagged Defects</button>

                                    <b-modal id="modal-2" title="Defects" ok-only>
                                        <ol class="list-group">
                                            <li type="button" class="list-group-item list-group-item-action" v-for="(result, index) in defectresults":key="index">{{result.output}}</li>
                                        </ol>
                                    </b-modal>

                                </div>
                            </div>
                            <ul class="list-group">
                                <p v-if="getFilteredResults.length == 0">There were no mismatches reported</p>
                                <result-list v-else v-for="result in getFilteredResults":key="result.sourceid":output="result.output":sourceid="result.sourceid":targetid="result.targetid":type="result.resultType":class="{resultbackground: this.resultStyle}"></result-list>
                            </ul>
                        </div>

                    </div>



                </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="app.js"></script>

</body>
</html>