

<html>
<head>
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->


    <title>C-CDA Comparison Tool</title>

    <!-- Required Stylesheets -->
    <!--<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>-->
    <!--<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
    <link rel="stylesheet" href="appNew2.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->



</head>
<body>

<!-- item template -->
<script type="text/x-template" id="item-template">
    <li>
        <div :class="{bold: isFolder}" v-on:click="toggle">
            {{item.name}} {{ item.value }}
            <!--<span v-if="isAttribute">{{item.value}}</span>-->
            <span v-if="isFolder">[{{item.open ? '-' : '+'}}]</span>
        </div>
        <ul v-show="item.open" v-if="isFolder">
            <tree-item class="item" v-for="child in item.children":key="child.id":item="child":open="child.open"></tree-item>
        </ul>
    </li>
</script>

<div id="app">
    <div class="container text-center">
        <h1>Welcome to the C-CDA Comparison tool!!</h1>
        <p>To get started select your source (EHX) and target (HS) documents. Click <a v-b-modal.modal-1 class="modallink text-primary">here</a> for instructions.</p>

        <b-modal id="modal-1" title="Instructions">
            <p>1. Select Source Document</p>
            <p>2. Select Target Document</p>
            <p>3. Click Compare to compare the source and target documents</p>
            <p>4. Analyze results using filtering functionality and tree views</p>

        </b-modal>
    </div>

    <!--<p>{{ sourceTreeData }}</p>-->
    <!--<p>{{ targetTreeData }}</p>-->

    <hr style="width: 100%; color: black; height: 1px; background-color:black;"/>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-auto">
                <compare-button></compare-button>
            </div>
            <div class="col">
                <file-input path='/api/analysis/readSource' name="sourceTree"></file-input>
            </div>
            <div class="col">
                <file-input path='/api/analysis/readTarget' name="targetTree"></file-input>
            </div>

        </div>

        <hr/>

        <div class="row text-left">
            <div class="col right">
                <h4>Source Tree:</h4>
                <ul>
                    <tree-item class="item" :item="sourceTreeData"></tree-item>
                </ul>
            </div>
            <div class="col">
                <h4>Target Tree:</h4>
                <ul>
                    <tree-item class="item" :item="targetTreeData"></tree-item>
                </ul>
            </div>
        </div>

        <hr/>

        <div class="row">
            <h4>Comparison Results:</h4>
        </div>
        <div class="row">
            <div class="form-check form-check-inline"><input id="checkBoxFilterAll" type="checkbox" class="form-check-input" v-model="all"/><label for="checkBoxFilterAll" class="form-check-label">All Mismatches</label></div>
            <div class="form-check form-check-inline"><input id="checkBoxFilterValue" type="checkbox" class="form-check-input" v-model="value"/><label for="checkBoxFilterValue" class="form-check-label">Value Mismatches</label></div>
            <div class="form-check form-check-inline"><input id="checkBoxFilterAttribute" type="checkbox" class="form-check-input" v-model="attribute"/><label for="checkBoxFilterAttribute" class="form-check-label">Attribute Mismatches</label></div>
            <div class="form-check form-check-inline"><input id="checkBoxFilterSection" type="checkbox" class="form-check-input" v-model="section"/><label for="checkBoxFilterSection" class="form-check-label">Section Mismatches</label></div>
        </div>
        <div class="row" style="padding-top:5px">
            <div class="col">
            <ul class="list-group">
                <result-list v-for="(result, index) in getResults":key="index":output="result.output":sourceid="result.sourceid":targetid="result.targetid"></result-list>
            </ul>
            </div>
        </div>

    </div>
</div>

<script src="appNew3.js"></script>

</body>
</html>